@{
    Layout = null;
}

<!DOCTYPE html>

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Social</title>
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Icons -->
    <link href="@Url.Content("~/Content/icons.css")" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <!-- Bootstrap Customized -->
    <link href="@Url.Content("~/Content/bootstrapCustomized.css")" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="@Url.Content("~/Content/plugins.css")" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="@Url.Content("~/Content/smartsocialstyle.css")" rel="stylesheet" />

    @*<link href="Content/jqcloud.css" rel="stylesheet" />*@

    <script src="~/Scripts/JQuery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/spin.min.js"></script>
    <script src="~/Scripts/Plugins/sweet-alert.js"></script>
</head>
<body>
    <div class="row" style="height: 100%">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="height: 50px; border-bottom: solid 1px #d7d7d7; background-color: white; z-index: 9996; position: fixed; margin-left: 15px;">
            <div class="dropdown" style="float: right; padding: 13px">
                <a role='button' href="@Url.Action("LogOff", "Account")" id="LogOut">
                    <i class="fa fa-power-off" style="font-size: 20px; float: left; color: black">
                    </i>
                </a>
            </div>
            </div>
            <div class="jumbotron">
                <h2>Hello, @Session["username"].ToString()!</h2>
                <p>We are currently working on your report</p>
            </div>
        </div>
</body>

</html>

